@model Lpp.Dns.HealthCare.SPANQueryBuilder.Models.SPANQueryBuilderModel
@{
    var viewModel = new {
        Model.IndexVariable
    };
    
}

<script src='@this.Resource("Create.js")'></script>
<script>
    SPAN.Create.RawModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(viewModel));
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
        showIndexVariable();
    });

    function showIndexVariable() {
        var indexVar = $('#ddlIndexVariable').val();

        $('#indexDx').css('display', indexVar == 'dx' ? 'block' : 'none');
        $('#indexPx').css('display', indexVar == 'px' ? 'block' : 'none');
        $('#indexRx').css('display', indexVar == 'rx' ? 'block' : 'none');
        $('#indexAge').css('display', indexVar == 'age' ? 'block' : 'none');
        $('#indexBMI').css('display', indexVar == 'bmi' ? 'block' : 'none');
    }

    function showReport() {
        var report = $('#ddlReport').val();

        $('#Report1').css('display', report == 'Report1' ? 'block' : 'none');
        $('#Report2').css('display', report == 'Report2' ? 'block' : 'none');
        $('#Report3').css('display', report == 'Report3' ? 'block' : 'none');
        $('#Report4').css('display', report == 'Report4' ? 'block' : 'none');
        $('#Report5').css('display', report == 'Report5' ? 'block' : 'none');
    }
</script>*@

<div class="ui-form" id="fsCriteria">
    <input type="hidden" id="hiddenDataControl" />

    <div id="tabs" data-bind="kendoTabStrip: {}" style="min-height: 500px;">
        <ul>
            <li class="k-state-active">Selection Criteria</li>
            <li>Inclusion Criteria</li>
            <li>Exclusion Criteria</li>
            <li>Output Reports</li>
        </ul>
        <div class="tab-body" style="height:550px;">
            <fieldset>
                <legend>Index Variable</legend>
                <select name="IndexVariable" id="IndexVariable" data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.IndexVariableList, dataTextField:'Value', dataValueField:'Key', value: IndexVariable}"></select>
                <div class="form-group" data-bind="visible: IndexVariable() == 'dx'">
                    <div>
                        I want <select data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.ParentContextList, dataTextField:'Value', dataValueField:'Key', value: ParentContext}"></select> of:
                    </div> 
                    <button type="button" class="btn btn-default" id="btnSelectCode" data-bind="click: SelectCode.bind($data, 4)">Add/Remove Codes...</button>
                    <label>Selected Codes:&nbsp;</label>
                    <span data-bind="text: Codes"></span>
                </div>
                <div class="form-group" data-bind="visible: IndexVariable() == 'px'">
                    <div>
                        I want <select data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.ParentContextList, dataTextField:'Value', dataValueField:'Key', value: ParentContext}"></select> of:
                    </div>                    
                    <button type="button" class="btn btn-default" id="btnSelectCode" data-bind="click: SelectCode.bind($data, 5)">Add/Remove Codes...</button>
                    <label>Selected Codes:&nbsp;</label>
                    <span data-bind="text: Codes"></span>
                </div>
                <div class="form-group" data-bind="visible: IndexVariable() == 'rx'">
                    <div>
                        I want <select data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.ParentContextList, dataTextField:'Value', dataValueField:'Key', value: ParentContext}"></select> of:
                    </div>                    
                    <button type="button" class="btn btn-default" id="btnSelectCode" data-bind="click: SelectCode.bind($data, 3)">Add/Remove Codes...</button>
                    <label>Selected Codes:&nbsp;</label>
                    <span data-bind="text: Codes"></span>
                </div>
                <div class="form-group" data-bind="visible: IndexVariable() == 'age'">
                    <div class="col-sm-2 form-group">
                        <label for="cbAgeOperator">Operator</label>
                        <select id="cbAgeOperator" data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.AgeOperatorList, dataTextField:'Value', dataValueField:'Key', value: AgeOperator}"></select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="txAge">Age</label>
                        <input type="text" id="txAge" class="form-control" maxlength="10" title="Please enter age" data-bind="value: Age" />
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="dtAsOfDate">As of Date</label>
                        <input type="text" id="dtAsOfDate" data-bind="kendoDatePicker: AsOfDate" style="width: 100%;" />
                    </div>
                </div>
                <div class="form-group" data-bind="visible: IndexVariable() == 'bmi'">
                    <div class="col-sm-4 form-group">
                        <select id="cbBMI" data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.BMIList, dataTextField:'Value', dataValueField:'Key', value: BMI}"></select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="rdOpt1">Option 1</label>
                        <input type="radio" id="rdOpt1" value="opt1" data-bind="checked: Option" />
                        <label for="rdOpt2">Option 2</label>
                        <input type="radio" id="rdOpt2" value="opt2" data-bind="checked: Option" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Observation Period Range</legend>
                <div class="col-sm-2 form-group">
                    <label for="ObservationPeriod.StartPeriod">Start Period</label>
                    <input type="text" id="dtStartDate" name="ObservationPeriod.StartPeriod" data-bind="kendoDatePicker: StartDate" style="width: 100%;" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="ObservationPeriod.EndPeriod">End Period</label>
                    <input type="text" id="dtEndDate" name="ObservationPeriod.EndPeriod" data-bind="kendoDatePicker: EndDate" style="width: 100%;" />
                </div>
            </fieldset>
            <fieldset>
            <legend>Enrollment Criteria</legend>
                <div class="col-sm-2 form-group">
                    <label for="txPrior">Prior</label>
                    <input class="form-control" type="text" id="txPrior" style="width: 100%;" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="txAfter">After</label>
                    <input class="form-control" type="text" id="txAfter" style="width: 100%;" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="ckEnroll">Continuous Enrollment</label>
                    <input type="checkbox" id="ckEnroll" style="width: 100%;" />
                </div>
            </fieldset> 
        </div>
        <div class="tab-body" style="height:550px;">
            <fieldset>
                <legend>ICD-9 Dx Selector</legend>
                <div>
                    I want <select data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.ParentContextList, dataTextField:'Value', dataValueField:'Key', value: ParentContext}"></select> of:
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="btnSelectCode" data-bind="click: SelectCode.bind($data, 4)">Add/Remove Codes...</button>
                    <label>Selected Codes:&nbsp;</label>
                    <span data-bind="text: Codes"></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>CPT/ICD-9 Px Selector</legend>
                <div>
                    I want <select data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.ParentContextList, dataTextField:'Value', dataValueField:'Key', value: ParentContext}"></select> of:
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="btnSelectCode" data-bind="click: SelectCode.bind($data, 5)">Add/Remove Codes...</button>
                    <label>Selected Codes:&nbsp;</label>
                    <span data-bind="text: Codes"></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Drug Rx Selector</legend>
                <div>
                    I want <select data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.ParentContextList, dataTextField:'Value', dataValueField:'Key', value: ParentContext}"></select> of:
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="btnSelectCode" data-bind="click: SelectCode.bind($data, 3)">Add/Remove Codes...</button>
                    <label>Selected Codes:&nbsp;</label>
                    <span data-bind="text: Codes"></span>
                </div>
            </fieldset>
        </div>
        <div class="tab-body" style="height:550px;">
            <fieldset>
                <legend>ICD-9 Dx Selector</legend>
                <div>
                    I want <select data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.ParentContextList, dataTextField:'Value', dataValueField:'Key', value: ParentContext}"></select> of:
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="btnSelectCode" data-bind="click: SelectCode.bind($data, 4)">Add/Remove Codes...</button>
                    <label>Selected Codes:&nbsp;</label>
                    <span data-bind="text: Codes"></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>CPT/ICD-9 Px Selector</legend>
                <div>
                    I want <select data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.ParentContextList, dataTextField:'Value', dataValueField:'Key', value: ParentContext}"></select> of:
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="btnSelectCode" data-bind="click: SelectCode.bind($data, 5)">Add/Remove Codes...</button>
                    <label>Selected Codes:&nbsp;</label>
                    <span data-bind="text: Codes"></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Drug Rx Selector</legend>
                <div>
                    I want <select data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.ParentContextList, dataTextField:'Value', dataValueField:'Key', value: ParentContext}"></select> of:
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="btnSelectCode" data-bind="click: SelectCode.bind($data, 3)">Add/Remove Codes...</button>
                    <label>Selected Codes:&nbsp;</label>
                    <span data-bind="text: Codes"></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Age Selector</legend>
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label for="cbAgeOperator">Operator</label>
                        <select id="cbAgeOperator" data-bind="kendoDropDownList: { data: SPAN.Create.ViewModel.AgeOperatorList, dataTextField:'Value', dataValueField:'Key', value: AgeOperator}"></select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="txAge">Age</label>
                        <input type="text" id="txAge" class="form-control" maxlength="10" title="Please enter age" data-bind="value: Age" />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="txAsOfDate">As of Date</label>
                        <input type="text" id="txAsOfDate" class="form-control" disabled value="As of Index Date"/>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="tab-body" style="height:550px;">
            <fieldset>
                <div style='padding-top: 5px; padding-bottom: 5px;'>
                    <select id='ddlReport' onchange='showReport();'>
                        <option value='Report1' selected='selected'>Report 1</option>
                        <option value='Report2'>Report 2</option>
                        <option value='Report3'>Report 3</option>
                        <option value='Report4'>Report 4</option>
                        <option value='Report5'>Report 5</option>
                    </select>
                </div>

                <div id='Report1'>
                    @(Html.Partial<Lpp.Dns.HealthCare.Views.ReportSelectorPlugin>().WithModel(Model.ReportSelector1))
                </div>
                <div id='Report2' style='display: none;'>
                    @(Html.Partial<Lpp.Dns.HealthCare.Views.ReportSelectorPlugin>().WithModel(Model.ReportSelector2))
                </div>
                <div id='Report3' style='display: none;'>
                    @(Html.Partial<Lpp.Dns.HealthCare.Views.ReportSelectorPlugin>().WithModel(Model.ReportSelector3))
                </div>
                <div id='Report4' style='display: none;'>
                    @(Html.Partial<Lpp.Dns.HealthCare.Views.ReportSelectorPlugin>().WithModel(Model.ReportSelector4))
                </div>
                <div id='Report5' style='display: none;'>
                    @(Html.Partial<Lpp.Dns.HealthCare.Views.ReportSelectorPlugin>().WithModel(Model.ReportSelector5))
                </div>
            </fieldset>
        </div>
    </div>
</div>

