@model LegacyReportModel
@{ 
    Layout = "~/Views/_RootLayout.cshtml";
   var dateFormat = "MM/dd/yyyy";
   var timeFormat = "MM/dd/yyyy hh:mm tt";
   ViewBag.Title = "DataMart Audit Report: " + Model.DataMart;
}

<div class="Dates pull-right" style="padding-right: 30px;">
    <div class="Period">Time Period Covered: @Model.From.ToString(dateFormat) - @Model.To.ToString(dateFormat)</div>
    <div class="Created">Date Report Created: @DateTime.Now.ToString(dateFormat)</div>
</div>


<h1>DataMart Audit Report: @Model.DataMart&nbsp;<img src="/content/img/icons/print.gif" onclick="window.print();" alt="Print" style="vertical-align: middle; height: 32px; width: 32px; cursor: pointer;" /></h1>
<hr />
<br />
<table class="table table-striped table-bordered" style="width: 100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Request Name</th>
            <th>Model</th>
            <th>Request Type</th>
            <th>Created On</th>
            <th>Submitted On</th>
            <th>Submitted By</th>
            <th>Status</th>
            <th>Open Days</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model.Rows)
        {
            <tr>
                <td class="Id">@r.Request.Identifier</td>
                <td>@r.Request.Name</td>
                <td>@(r.IsWorkflowRequest ? r.WorkflowAdapter : r.Type != null ? r.Type.Model.Name : "(None)")</td>
                <td>@(r.IsWorkflowRequest ? r.RequestTypeName : r.Type != null ? r.Type.RequestType.Name : "(None)")</td>
                <td class="DateTime">@r.Request.CreatedOn.ToLocalTime().ToString(timeFormat)</td>
                <td class="DateTime">@r.Request.SubmittedOn.Value.ToLocalTime().ToString(timeFormat)</td>
                <td>@r.SubmittedByUsername</td>
                <td>@r.Status</td>
                <td class="DaysOpen">@r.DaysOpen</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <div class="CreatedBy">Created By: @Model.CreatedByUsername</div>
            </td>
            <td colspan="5" class="right">
                Created On: @DateTime.Now.ToString(timeFormat)
            </td>
        </tr>
    </tfoot>
</table>