@model Lpp.Dns.DTO.Users.EmailTemplateSubstitutionPropertiesDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        p.spaced {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <p class="spaced">Hello @Model.FirstName @Model.LastName,</p>
    <p class="spaced">Welcome to the @Model.Network team! You have been provided access to the @Model.QueryToolName, please follow the instructions below to access the system.</p>
    <p class="spaced">URL: <a href="@Model.NetworkUrl" title="Click to navigate to @Model.Network">@Model.NetworkUrl</a></p>
    <p class="spaced">User Name: @Model.Username</p>
    <p class="spaced">Password: Please use the "Forgot Password" link and follow the instructions to reset your password.</p>
    <p class="spaced">Other important tools to be aware of:</p>
    <ul>
        <li>
            <a href="https://popmednet.atlassian.net/wiki/display/DOC/Home">PopMedNet Public Wiki</a>: This is a public facing wiki accessible by anyone with the URL.
            It contains information on the PopMedNet system and instructions on how to execute and respond to queries. Release notes for new versions of PopMedNet<sup>&trade;</sup> are also posted here.
            This is the home page from which all links in the above instructions can be accessed.
        </li>
        <li>
            <a href="https://popmednet.atlassian.net/servicedesk/customer/portal/1">PopMedNet Service Desk</a>: This is a JIRA service desk in which you can create a ticket if you
            ever have any questions or issues regarding the PopMedNet<sup>&trade;</sup> system. We will respond to a ticket within 48 hours.
        </li>
    </ul>
    <p class="spaced">
        Please reach out to the <a href="https://popmednet.atlassian.net/servicedesk/customer/portal/1">PopMedNet Service Desk</a> with any questions and please note,
        <strong>replies to this email address are not monitored.</strong>
    </p>
    <p class="spaced">Thanks,</p>
    <p class="spaced">The PopMedNet<sup>&trade;</sup> Team</p>
</body>
</html>
